@import './variables.scss';

.App{
  display: grid;
  grid-template-columns: 10.75% 10.75% 10.75% 10.75% 10.75% 10.75% 10.75% 10.75% ;
  grid-template-rows: 120px auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  gap: 10px 2%;
  align-items: stretch;
}