@import './variables.scss';

.Title{
  h3{
    &::after{
      content: "";
      border-bottom: 1px solid $grey;
      display: block;
      position: relative;
      bottom: 8px;
      width: 100%;
      z-index: -1;
    }
  }
}